<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6 d-none d-lg-block">
    <img
      src="https://images.pexels.com/photos/5946077/pexels-photo-5946077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      style="aspect-ratio: 1 / 1; object-fit: cover"
      class="d-block mx-lg-auto img-fluid"
      alt="Bootstrap Themes"
      width="700"
      height="500"
      loading="lazy"
    />
  </div>
  <div class="col-12 col-lg-6">
    <h1 class="mb-4">Signup</h1>
    <p class="lead">Please Signup using your Gmail Account</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <button (click)="login()" class="btn btn-google btn-outline btn-light">
        <img src="https://img.icons8.com/color/16/000000/google-logo.png" />
        Signup Using Google
      </button>
    </div>
  </div>
</div>
