<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
  <input
    [formControl]="filter"
    type="text"
    class="form-control"
    placeholder="Search..."
  />
</p>
<div class="d-flex justify-content-between">
  <ngb-pagination
    *ngIf="filteredProducts$ | async as product"
    [collectionSize]="product.length"
    [(page)]="page"
    [maxSize]="5"
    [pageSize]="pageSize"
    (pageChange)="pagination$.next(null)"
  >
  </ngb-pagination>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Limit</span>
      </div>
      <input
        style="width: 5rem"
        [(ngModel)]="pageSize"
        type="number"
        class="form-control"
        [min]="0"
        (ngModelChange)="pagination$.next(null)"
      />
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsPerPage$ | async">
        <td>{{ product.title }}</td>
        <td>{{ product.price | currency: 'USD' }}</td>
        <td class="text-right">
          <a
            [routerLink]="['/admin/products/', product.$key]"
            class="btn btn-outline-success"
            >Edit</a
          >
          <button
            (click)="delete(product.$key)"
            type="button"
            class="btn btn-outline-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
