<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p class="description text-right text-sm-left">
    <span class="description-text"
      >You have {{ cart.totalItemsCount }} items in your shopping cart.</span
    >
    <button
      *ngIf="cart.items.length"
      (click)="shoppingCartService.clearCart()"
      class="btn btn-light btn-sm float-sm-right"
    >
      Clear Shopping Cart
    </button>
  </p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th style="min-width: 130px">Product</th>
          <th class="text-center" style="width: 200px">Quantity</th>
          <th class="text-right" style="width: 200px; text-align: right">
            Price
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td class="align-middle" style="width: 100px">
            <div
              class="thumbnail"
              [style.backgroundImage]="'url(' + item.imageUrl + ')'"
            ></div>
          </td>
          <td class="align-middle">{{ item.title }}</td>
          <td class="text-center align-middle">
            <product-quantity
              [product]="item"
              [shoppingCart]="cart"
              [mode]="productQuantityMode"
            ></product-quantity>
          </td>
          <td class="text-right align-middle">
            {{ item.totalPrice | currency: 'USD' }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-right">
            Total ({{ cart.totalItemsCount }} items):
            <b>{{ cart.totalPrice | currency: 'USD' }}</b>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="shopping-cart-buttons w-100 text-right">
    <a
      *ngIf="cart.items.length"
      routerLink="/checkout"
      class="btn btn-primary btn-sm"
    >
      Check Out
    </a>
  </div>
</ng-container>
