$thumbnail-size: 60px;

.description {
  @media (max-width: 576px) {
    &-text {
      display: none;
    }
  }
}

.thumbnail {
  width: $thumbnail-size;
  height: $thumbnail-size;
  border-radius: 100%;
  background-size: cover;
}
