<h2>Order Detail</h2>
<p>
  Order date: {{ order.datePlaced | date }} |
  <span class="d-block d-md-inline">Order nº: {{ orderId }}</span>
</p>
<div class="row">
  <div class="col-12 col-md-6 order-1">
    <order-general [order]="order"></order-general>
  </div>
  <div class="col-12 col-md-6 mb-4 order-md-1">
    <order-summary [order]="order"></order-summary>
    <div class="d-flex mt-4">
      <button type="button" class="btn btn-outline-danger">Cancel Order</button>
      <span class="ml-auto">
        <button class="btn btn-primary">Edit Order</button>
      </span>
    </div>
  </div>
</div>
