<div class="row" *ngIf="productService.productStore$ | async as product">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          #title="ngModel"
          [(ngModel)]="product.title"
          name="title"
          id="title"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid': title.invalid && (title.dirty || title.touched)
          }"
          required
        />
        <div
          class="invalid-feedback"
          *ngIf="title.invalid && (title.dirty || title.touched)"
        >
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            #price="ngModel"
            [(ngModel)]="product.price"
            name="price"
            id="price"
            type="number"
            class="form-control"
            [ngClass]="{
              'is-invalid': price.invalid && (price.dirty || price.touched)
            }"
            required
            [min]="0"
          />
          <div
            class="invalid-feedback"
            *ngIf="price.invalid && (price.dirty || price.touched)"
          >
            <span *ngIf="price.errors?.required">Price is required.</span>
            <span *ngIf="price.errors?.minPrice"
              >Price should be 0 o higher.</span
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select
          #category="ngModel"
          [(ngModel)]="product.category"
          name="category"
          id="category"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              category.invalid && (category.dirty || category.touched)
          }"
          required
        >
          <option value=""></option>
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.$key"
          >
            {{ category.name }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="category.invalid && (category.dirty || category.touched)"
        >
          Category is required.
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input
          #imageUrl="ngModel"
          [(ngModel)]="product.imageUrl"
          name="imageUrl"
          id="imageUrl"
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)
          }"
          required
          url
        />
        <div
          class="invalid-feedback"
          *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)"
        >
          <span *ngIf="imageUrl.errors?.required">ImageUrl is required.</span>
          <span *ngIf="imageUrl.errors?.url">Please enter a valid URL.</span>
        </div>
      </div>
      <div>
        <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
        <button type="button" class="btn btn-warning" (click)="cancel()">
          Cancel
        </button>
        <button
          *ngIf="id"
          type="button"
          class="btn btn-danger"
          (click)="delete()"
        >
          Delete
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img
        [src]="product.imageUrl"
        class="card-img-top"
        *ngIf="imageUrl.valid"
      />
      <div class="card-body">
        <h4 class="card-title">{{ product.title }}</h4>
        <p class="card-text">{{ product.price | currency: 'USD' }}</p>
      </div>
    </div>
  </div>
</div>
